@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {

--first-child-width: 100px;
--second-child-width: 135px;
--third-child-width: 130px;
--fourth-child-width: 120px;
--fifth-child-width: 120px;

--total-width: calc(var(--fifth-child-width) + var(--fourth-child-width) + var(--third-child-width) + var(--second-child-width) + var(--first-child-width));
}


nav {
	margin: 27px auto 0;

	position: relative;
	width: var(--total-width);
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: var(--first-child-width);
}
a:nth-child(2) {
	width: var(--second-child-width);
}
a:nth-child(3) {
	width: var(--third-child-width);
}
a:nth-child(4) {
	width: var(--fourth-child-width);
}
a:nth-child(5) {
	width: var(--fifth-child-width);
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: var(--first-child-width);
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: var(--second-child-width);
	left: var(--first-child-width);
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: var(--third-child-width);
	left: calc(var(--first-child-width) + var(--second-child-width));
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: var(--fourth-child-width);
	left: calc(var(--third-child-width) + var(--second-child-width) + var(--first-child-width));
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: var(--fifth-child-width);
	left: calc(var(--fourth-child-width) + var(--third-child-width) + var(--second-child-width) + var(--first-child-width));
	background-color: #e67e22;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
h1 {
	text-align: center;
	margin: 20px 0 20px;
	text-align: center;
	font-size: 35px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Permanent Marker', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}



/*#list {
	margin: auto;
	border: 1px solid black;
	border-radius: 2px;
}*/


#big_box {
	/*position: absolute;*/
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 900px;
	height: 600px;
	/*background-color: blue;*/
}


#mainChart {
	position: relative;
	margin: auto;
	/*margin-top: 50px;*/
	border: 3px solid black;
	text-align: center;
	width: 100%; 
	height: 100%;
	border-radius: 3px;
	z-index: 1;
}

.customSelect {
	width: 200px;
  	right: 0px;
  	position: relative;
  	height: 50px;
  	font-size: 100%;
  	font-weight: bold;
  	cursor: pointer;
  	border-radius: 0;
  	background-color: #c0392b;
  	border: none;
  	border-bottom: 2px solid #962d22;
  	color: white;
  	padding: 10px;
  	appearance: none;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	padding: 10px;
  	z-index: 5;
}

/*#chartChoice {
  width: 200px;
  right: 0px;
  position: relative;
  height: 50px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: #c0392b;
  border: none;
  border-bottom: 2px solid #962d22;
  color: white;
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  z-index: 5;
}*/

#chartChoice:hover,
#chartChoice:focus {
  color: #c0392b;
  background-color: white;
  border-bottom-color: #DCDCDC;
}
