body{
	background:#556B2F;
}
#login-box{
	weight:30%;
	height:auto;
	margin:0 auto;
	margin-top:15%;
	text-align:center;
	background:#00000060;
	padding:20px 50px;
}
#login-box h1{
	color:#fff;
}
#login-box .form .item{
	margin-top:15px;
}
#login-box .form .item i{
	font-size:18px;
	color:#fff;
}
#login-box .form .item input{
	border:0;
	width:180px;
	font-size:18px;
	border-bottom:2px solid #fff;
	padding:5px 10px;
	background:#ffffff00;
	color:#000;
}
#login-button{
	margin-top:15px;
	width:180px;
	height:30px;
	background-image: linear-gradient(-20deg, #dcb0ed 0%, #99c99c 100%);
}

.hidden{
	visibility: hidden;
}
